html, body{
  height: 100%;
}
#page{
  height: 100vh;
  width: 100vw;
  background-color: #408080;
  display: flex;
  align-items: center;
  transition: background-color 3s
}
.container{
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 25px 25px 5px 25px;
  width: 80vw;
  height: 30vh;
}
.icon{
  font-size: 40px;
  color: #4f555b;
  padding: 0px 5px 0px 10px;
  transition: color 3s
}
.social-media:hover{
  font-weight:700
}

#new-quote{
  height: 40px;
  background-color: #4f555b;
  color: white;
  transition: background-color 3s
}
#new-quote:hover{
  color: white;
  font-weight: 550
}
#quote-row{
  height: 50%;
  display: flex;
  align-items: center
}
#quote-icon{
  align-self: flex-start
}
#quote{
  font-weight: 600;
  transition: color 3s
}
#author{
  transition: color 3s
}
#author-row{
  height: 15%
}
#bottom-row{
  height: 35%;
  align-items: center;
  display: flex
}
@media only screen and (max-width: 380px){
  .container{
    height: 75vh
  }
}


